@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-family: Moret;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
  }
  h2 {
    font-family: Moret;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
  }
  h3 {
    font-family: Moret;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
  }
  h4 {
    font-family: Moret;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
  }

  p,
  a,
  span,
  div {
    @apply font-Unica;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .input-primary {
    @apply font-Unica focus:border-accentColor focus:ring-soilGreen-500 my-2 flex w-full resize-none rounded-md border border-zinc-400/50 px-2 py-1 text-base focus:outline-transparent  focus:ring;
  }
}
